<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root"></div>
    

    
    <template class="frameworcs-template">
        <ul> 
            {{#each this}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </template>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/app.js" type="module"></script>
</body>
</html>

//===================================


const frameworks = ['react', 'exspres', 'vue', 'angular'];

//let list = document.querySelector('.list');

// frameworks.forEach((li) => {
//     list.innerHTML += `
//     <li class="list__item">
//         <a href="">${li}</a>
//     </li>`
// })

//===============

let templRef = document.querySelector('.frameworcs-template').innerHTML;
let divRef = document.querySelector('#root');
let templateScript = Handlebars.compile(templRef);
let markup = templateScript(frameworks);
divRef.innerHTML = markup;